Repository talo94/wolox-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eclint check, prettier --write, eslint --fix

.lintstagedrc:

{
  "src/**/*.*": [
      "eclint check"
    ],
  "src/**/*.{css,scss}": [
    "prettier --write"
  ],
  "src/**/*.{js,jsx,json,ts,tsx}": [
    "eslint --fix",
  ]
}

add react router, private and public routes, login and persistence token
  .env
  src/App.css
  src/App.js
  src/App.test.js
  src/App.tsx
  src/components/Route/Route.tsx
  src/components/Route/index.ts
  src/index.css
  src/index.js
  src/index.tsx
  src/logo.svg
  src/pages/Home/Home.tsx
  src/pages/Home/index.ts
  src/pages/Login/Login.tsx
  src/pages/Login/index.ts
  src/pages/Tecnologies/Tecnologies.tsx
  src/pages/Tecnologies/index.ts
  src/react-app-env.d.ts
  src/service/auth_api.ts
  src/service/index.ts
  src/service/service.ts
  src/serviceWorker.js
  src/setupTests.js
  src/store/configureServiceTransform.ts
  src/store/index.ts
  src/store/modules/auth.ts
  src/store/modules/index.ts
  src/store/selectors/auth.ts
  src/store/selectors/index.ts
Due: eclint check, prettier --write, eslint --fix

add tecnologies service and module
  src/pages/Tecnologies/Tecnologies.tsx
  src/service/index.ts
  src/service/tecnologies.ts
  src/store/modules/index.ts
  src/store/modules/tecnologies.ts
  src/store/selectors/index.ts
  src/store/selectors/tecnologies.ts
Due: eclint check, eslint --fix

add in session logic
  package-lock.json
  package.json
  src/App.tsx
  src/components/Route/Route.tsx
  src/index.tsx
  src/pages/Home/Home.tsx
  src/pages/Login/Login.module.scss
  src/pages/Login/Login.tsx
  src/service/service.ts
  src/store/index.ts
  src/store/modules/auth.ts
Due: eclint check, prettier --write, eslint --fix

swap tecnologies to technologies. Add filters and sort
  src/App.tsx
  src/pages/Home/Home.tsx
  src/pages/Login/Login.tsx
  src/pages/Technologies/Technologies.tsx
  src/pages/Technologies/index.ts
  src/pages/Tecnologies/Tecnologies.tsx
  src/pages/Tecnologies/index.ts
  src/service/index.ts
  src/service/technologies.ts
  src/service/tecnologies.ts
  src/store/configureServiceTransform.ts
  src/store/modules/index.ts
  src/store/modules/technologies.ts
  src/store/selectors/index.ts
  src/store/selectors/technologies.ts
  src/store/selectors/tecnologies.ts
Due: eclint check, eslint --fix

add i18n conf and translation files
  package-lock.json
  package.json
  src/common/en.json
  src/common/es.json
  src/i18n.ts
  src/index.tsx
  src/pages/Home/Home.tsx
Due: eclint check, eslint --fix

add styles in home page
  public/index.html
  src/common/en.json
  src/common/es.json
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Footer/index.ts
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/HomeSections/Benefits/Benefits.module.scss
  src/components/HomeSections/Benefits/Benefits.tsx
  src/components/HomeSections/Benefits/index.ts
  src/components/HomeSections/BenefitsItem/BenefitsItem.module.scss
  src/components/HomeSections/BenefitsItem/BenefitsItem.tsx
  src/components/HomeSections/BenefitsItem/index.ts
  src/components/HomeSections/Requirements/Requirements.module.scss
  src/components/HomeSections/Requirements/Requirements.tsx
  src/components/HomeSections/Requirements/index.ts
  src/components/HomeSections/Welcome/Welcome.module.scss
  src/components/HomeSections/Welcome/Welcome.tsx
  src/components/HomeSections/Welcome/index.ts
  src/components/HomeSections/Woloxer/Woloxer.module.scss
  src/components/HomeSections/Woloxer/Woloxer.tsx
  src/components/HomeSections/Woloxer/index.ts
  src/components/HomeSections/index.ts
  src/index.scss
  src/index.tsx
  src/pages/Home/Home.module.scss
  src/pages/Home/Home.tsx
  src/store/selectors/technologies.ts
Due: eclint check, prettier --write, eslint --fix

responsive fixes
  .lintstagedrc
  src/components/Footer/Footer.module.scss
  src/components/Header/Header.module.scss
  src/components/HomeSections/Benefits/Benefits.module.scss
  src/components/HomeSections/Requirements/Requirements.module.scss
  src/components/HomeSections/Welcome/Welcome.module.scss
  src/components/HomeSections/Woloxer/Woloxer.module.scss
  src/index.scss
  src/pages/Home/Home.module.scss
  src/pages/Home/Home.tsx
Due: eclint check, prettier --write, eslint --fix

add login styles and translations
  src/components/Header/Header.module.scss
  src/components/HomeSections/Welcome/Welcome.module.scss
  src/pages/Login/Login.module.scss
  src/pages/Login/Login.tsx
Due: eclint check, prettier --write, eslint --fix

add logo into login page
  src/pages/Login/Login.module.scss
  src/pages/Login/Login.tsx
Due: eclint check, prettier --write, eslint --fix

add login error
  src/pages/Login/Login.module.scss
  src/pages/Login/Login.tsx
Due: eclint check, prettier --write, eslint --fix

add technologies styles and translations
  src/assets/download.svg
  src/assets/exchange.svg
  src/assets/up-arrow.svg
  src/common/en.json
  src/common/es.json
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/TechnologyItem/TechnologyItem.module.scss
  src/components/TechnologyItem/TechnologyItem.tsx
  src/components/TechnologyItem/index.ts
  src/components/TechnologySubItem/TechnologySubItem.module.scss
  src/components/TechnologySubItem/TechnologySubItem.tsx
  src/components/TechnologySubItem/index.ts
  src/index.scss
  src/pages/Technologies/Technologies.module.scss
  src/pages/Technologies/Technologies.tsx
Due: eclint check, prettier --write, eslint --fix

add basic conf
  Dockerfile
  docker-compose.yml
  nginx/nginx.conf
Due: none

hide login button when token exists
  src/components/Header/Header.tsx
Due: eclint check, eslint --fix

add woloxers left section
  src/assets/twitter-logo.svg
  src/components/HomeSections/Welcome/Welcome.module.scss
  src/components/HomeSections/Welcome/Welcome.tsx
  src/components/HomeSections/Welcome/index.ts
  src/components/HomeSections/WoloxerLeft/WoloxerLeft.module.scss
  src/components/HomeSections/WoloxerLeft/WoloxerLeft.tsx
  src/components/HomeSections/WoloxerLeft/index.ts
  src/components/HomeSections/WoloxerRight/Woloxer.module.scss
  src/components/HomeSections/WoloxerRight/Woloxer.tsx
  src/components/HomeSections/WoloxerRight/index.ts
  src/components/HomeSections/index.ts
  src/pages/Home/Home.module.scss
  src/pages/Home/Home.tsx
  src/pages/Technologies/Technologies.tsx
Due: eclint check, prettier --write, eslint --fix

Revert "add woloxers left section"
  src/assets/twitter-logo.svg
  src/components/HomeSections/Welcome/Welcome.module.scss
  src/components/HomeSections/Welcome/Welcome.tsx
  src/components/HomeSections/Welcome/index.ts
  src/components/HomeSections/Woloxer/Woloxer.module.scss
  src/components/HomeSections/Woloxer/Woloxer.tsx
  src/components/HomeSections/WoloxerLeft/WoloxerLeft.module.scss
  src/components/HomeSections/WoloxerLeft/WoloxerLeft.tsx
  src/components/HomeSections/WoloxerLeft/index.ts
  src/components/HomeSections/WoloxerRight/index.ts
  src/components/HomeSections/index.ts
  src/pages/Home/Home.module.scss
  src/pages/Home/Home.tsx
  src/pages/Technologies/Technologies.tsx
Due: eclint check, prettier --write, eslint --fix

swap header to menu in mobile
  src/assets/close.svg
  src/assets/menu.svg
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/HomeSections/Welcome/Welcome.module.scss
  src/components/HomeSections/Welcome/Welcome.tsx
  src/components/HomeSections/Welcome/index.ts
  src/components/HomeSections/Woloxer/index.ts
  src/components/Menu/Menu.module.scss
  src/components/Menu/Menu.tsx
  src/components/Menu/index.ts
  src/pages/Home/Home.tsx
Due: eclint check, prettier --write, eslint --fix

create error boundary component and global loading component
  src/App.tsx
  src/assets/warning.svg
  src/assets/warning1.svg
  src/components/ErrorBoundary/ErrorBoundary.module.scss
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/ErrorBoundary/index.ts
  src/components/Loading/Loading.module.scss
  src/components/Loading/Loading.tsx
  src/components/Loading/index.ts
  src/components/Route/Route.tsx
  src/pages/Home/Home.tsx
Due: eclint check, prettier --write, eslint --fix

settings
  README.md
  public/index.html
  public/manifest.json
Due: none
